$color-primary : #9356DC
$color-secondary : #FF79DA
$color-tertiary : #99E2D0

//Extra color
$color-background-bold : #EAEAEA
$color-background-lighter : #F6F6F6

*
    font-family: 'Roboto',sans-serif

body
    display: flex
    justify-content: center

.title
    font-family: 'Shrikhand', cursive
    display: flex
    justify-content: center 
    margin: 10px 0 10px 0
    font-size: 2.2em

.page
    max-width: 1440px
    box-sizing: border-box
    width: 100%
    
.search__location
    display: flex
    justify-content: center
    background-color: $color-background-bold 
    padding: 20px
    align-content: center
    border-top: 3px solid grey 
    //Ajouter un dégrader
    //border: 30px solid
    //border-image: linear-gradient(to bottom, blue, red) 1 


.search__location--icon
    font-size: 1.2em

.search__location--info
    margin-left: 20px
    font-size: 1.2em