* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.page {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 1024px) {
  main {
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
}

.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.2em;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 12.5px 0 8px 0;
}
@media screen and (min-width: 1024px) {
  .header__title {
    padding-bottom: 20px;
  }
}
.header__title--shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
}

.index__link {
  font-size: 1.5em;
  margin-left: 30px;
  position: absolute;
  left: 0;
  top: 35%;
}

.menus__header {
  display: flex;
  justify-content: center;
}

.footer__content {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__content {
    flex-direction: row-reverse;
    padding: 40px 30px 10px;
  }
}

.footer__title {
  font-family: "Shrikhand", cursive;
  margin-left: 40px;
  margin-bottom: 0;
  font-size: 1.25em;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
    align-items: center;
  }
}

.footer__link {
  list-style: none;
  margin-bottom: 15px;
  font-size: 1em;
}
@media screen and (min-width: 1024px) {
  .footer__link {
    margin-right: 10px;
  }
}

.footer__link-icon {
  font-size: 1em;
  margin-right: 10px;
}

.search {
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .search {
    width: 100%;
  }
}
.search__location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 20px;
}
.search__location--icon {
  font-size: 1.2em;
}
.search__location--info {
  margin-left: 20px;
  font-size: 1.2em;
}
.search__explore {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search__explore--title {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  padding: 15px 40px 0 40px;
  margin-bottom: 0;
}
.search__explore--lighter {
  font-weight: lighter;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px 0;
}
@media screen and (min-width: 1024px) {
  .functioning {
    width: 95%;
    margin-right: 50px;
  }
}
.functioning__title {
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 5%;
}
@media screen and (min-width: 1024px) {
  .functioning__content {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
}

.functioning__step {
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  border: 2px solid #F6F6F6;
  border-radius: 15px/50%;
  background-color: #F6F6F6;
  margin-bottom: 15px;
  box-shadow: 4px 2px 8px 0px rgba(200, 200, 200, 0.5);
}
.functioning__step-icon {
  font-size: 1.5em;
  margin: 0 30px 0px 50px;
}
.functioning__step-icon--primary {
  color: #9356DC;
}
.functioning__step-icon--grey {
  color: grey;
}
.functioning__step-title {
  font-size: 1.2em;
  margin: 20px 0px 20px 0;
}
.functioning__step-number {
  position: absolute;
  margin-left: -12px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px 5px 10px;
}

.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.restaurant__title {
  width: 100%;
  margin: 40px 0 20px 5%;
}
@media screen and (min-width: 1024px) {
  .restaurant__title {
    margin: 30px 0 30px 5%;
  }
}

.restaurant__article {
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurant__article {
    width: 41%;
  }
}
.restaurant__article-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__article-content {
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding: 0 0 5px 20px;
}
.restaurant__article-content--text {
  width: 70%;
}
.restaurant__article-heart {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  align-items: center;
  font-size: 1.2em;
}
.restaurant__article-location {
  font-weight: 100;
  font-size: 1em;
}
.restaurant__article-title {
  margin-bottom: 0;
  font-weight: 10000;
  font-size: 1.2em;
}
.restaurant__article-location {
  margin-top: 5px;
  font-weight: 1;
  font-size: 1.2em;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .title {
    width: 100%;
    align-items: center;
  }
}
.title__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
}
.title__text {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .title__text {
    margin-right: 30px;
  }
}
.title__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media screen and (min-width: 1024px) {
  .title__content {
    width: 75%;
    justify-content: center;
  }
}
.title__heart {
  display: flex;
}

.menus {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
}
.menus__btn {
  margin: 30px 0 30px 0;
}
@media screen and (min-width: 1024px) {
  .menus {
    width: 75%;
  }
}

.menus__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.menus__title-text {
  font-size: 1.2em;
  align-self: start;
  font-weight: 100;
}
.menus__title-tiret {
  border-top: 4px solid #99E2D0;
  width: 25px;
  padding: 10px;
  margin-top: -12px;
  align-self: start;
}

.menus__content {
  width: 100%;
  border: none;
  border-radius: 20px/20px;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 4px 2px 8px 0px rgba(200, 200, 200, 0.5);
  display: flex;
  align-items: center;
  z-index: 10;
}
.menus__content--status {
  margin: 0;
  text-align: start;
  display: flex;
  overflow: hidden;
  text-overflow: hidden;
}
.menus__content-text {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0 5px 15px;
}
.menus__content-subtext {
  font-weight: lighter;
  font-size: 1.1em;
  padding: 0 0 10px 15px;
  width: 80%;
  overflow: hidden;
  text-overflow: hidden;
}
.menus__content-price {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 0 10px 15px;
  margin-right: 20px;
}
.menus__content-subcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menus__content-box {
  width: 100%;
}
.menus__content:hover {
  cursor: pointer;
}

.explore__btn {
  border-radius: 25px/50%;
  padding: 20px 0 20px 0;
  background: #FF79DA;
  background: linear-gradient(169deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  font-size: 1.2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 40px;
  border: none;
  width: 260px;
  opacity: 1;
  transition: all 500ms;
}
.explore__btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.01);
}

.badge__new {
  position: absolute;
  top: 4%;
  left: 71%;
  padding: 7px 10px 7px 10px;
  background-color: #99E2D0;
  font-weight: bold;
  color: #139273;
  font-size: 1em;
  border-radius: 3px;
}
@media screen and (min-width: 1024px) {
  .badge__new {
    left: 78%;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  48% {
    scale: 1;
  }
  52% {
    scale: 1.8;
  }
  54% {
    scale: 1;
  }
  62% {
    scale: 1;
  }
  65% {
    scale: 1.8;
  }
  69% {
    scale: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes heart-empty {
  0% {
    opacity: 1;
  }
  30%, 100% {
    opacity: 0;
  }
}
@keyframes animate-extend {
  0% {
    translate: 40px;
    padding: 20px 0px 20px 0px;
  }
  100% {
    translate: 10px;
    padding: 20px 15px 20px 15px;
  }
}
@keyframes anim-menus {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes anim-content {
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
.icon__heart {
  margin-right: 40px;
  font-size: 1.5em;
  z-index: 100;
}
.icon__heart:hover {
  cursor: pointer;
  animation: heart-empty 3000ms ease-in-out alternate both;
}
.icon__heart:hover + .icon__heart--color {
  animation: heart 3000ms ease-in-out alternate both;
}
.icon__heart--color {
  position: absolute;
  z-index: 10;
  right: 0;
  opacity: 0;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-right: 40px;
  font-size: 1.5em;
  animation-fill-mode: forwards;
}

.anim__extend {
  position: relative;
  z-index: 1;
  display: none;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0/20px;
  overflow: hidden;
}
.anim__extend-icon {
  color: #99E2D0;
  background: white;
  border-radius: 100%;
  font-size: 2em;
}

.menus__title {
  z-index: 2;
  transform: translateX(120%);
  animation: anim-menus 750ms alternate forwards;
}
.menus__title:nth-child(1) {
  animation-delay: 100ms;
}
.menus__title:nth-child(2) {
  animation-delay: 400ms;
}
.menus__title:nth-child(3) {
  animation-delay: 700ms;
}

.menus__content {
  z-index: 0;
  animation: anim-content 750ms forwards alternate;
  transform: translateX(120%);
}
.menus__content:active > .anim__extend {
  display: flex;
  animation: animate-extend 500ms ease-in-out alternate forwards;
}
.menus__content:nth-child(3) {
  animation-delay: 200ms;
}
.menus__content:nth-child(4) {
  animation-delay: 300ms;
}
.menus__content:nth-child(5) {
  animation-delay: 400ms;
}
.menus__content:nth-child(6) {
  animation-delay: 500ms;
}

@keyframes animate-boxs {
  0% {
    transform: scaleY(0.25);
  }
  100% {
    transform: scaleY(1.5);
  }
}
@keyframes animate-loading {
  90% {
    opacity: 0.8;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loading {
  position: absolute;
  background: #99E2D0;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: animate-loading 1500ms forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.loading:hover {
  cursor: none;
}

.anim__boxs {
  position: absolute;
  display: flex;
  border: 5px solid #9356DC;
  padding: 50px;
  border-radius: 50%;
}
.anim__boxs-box {
  padding: 38px 7px;
  background: red;
  margin-right: 3px;
  animation: animate-boxs 250ms ease-in-out alternate both 10;
}
.anim__boxs-box1 {
  background: #FF79DA;
  animation-delay: 0ms;
}
.anim__boxs-box2 {
  background: #9356DC;
  animation-delay: 50ms;
}
.anim__boxs-box3 {
  background: #FF79DA;
  animation-delay: 100ms;
}
.anim__boxs-box4 {
  background: #9356DC;
  animation-delay: 150ms;
}
.anim__boxs-box5 {
  background: #FF79DA;
  animation-delay: 200ms;
}/*# sourceMappingURL=style.css.map */