header
    position: relative


.header__title
    font-family: 'Shrikhand', cursive
    font-size: 2.2em
    margin: 0
    display: flex
    justify-content: center
    padding: 12.5px 0 8px 0
    +mq(lg)
        padding-bottom: 20px
    &--shadow
        box-shadow: 0 2px 4px #00000026
    
.index__link
    font-size: 1.5em
    margin-left: 30px
    position: absolute
    left: 0
    top: 35%

.menus__header
    display: flex
    justify-content: center 
    //align-items: center
    



