header
    position: relative


.header__title
    font-family: 'Shrikhand', cursive
    display: flex
    justify-content: center 
    font-size: 2.2em
    box-shadow: 0 2px 4px #00000026
    margin: 0

.index__link
    font-size: 1.2em
    padding: 15px 55px 15px 20px

.menus__header
    display: flex


